:root {
  --primari-text-color: #212121;
  --primari-click-color: #2196f3;
  --secondary-color: #757575;
  --primari-white-color: #ffffff;
  --background-hefu-color: #2f303a;
  --batton-bg-color: #f5f4fa;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primari-bg-color);
  color: var(--primari-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.countainer {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}

.heroes .item {
  padding-bottom: 0;
}

/*Логотип*/
.header {
  background: var(--primari-white-color);
}

.logo {
  color: var(--primari-click-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--primari-text-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav,
.link,
.site-contacts,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primari-text-color);
  text-decoration: none;
}

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts .item + .item {
  margin-left: 50px;
}

.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.site-contacts .contacts {
  color: var(--secondary-color);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--primari-click-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primari-click-color);
}

.site-contacts .contacts:hover,
.site-contacts .contacts:focus {
  color: var(--primari-click-color);
}

.hr {
  border: 1px solid #ececec;
  height: 0px;
  left: 0px;
}

/*Основной раздел*/
/*герой*/
.heroes {
  background: var(--background-hefu-color);

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primari-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-title {
  text-align: center;
  width: 696px;
}

.dl-section {
  padding-top: 94px;
}
.main-part + .main-part {
  margin-left: 50px;
}

.description-list {
  display: flex;
}

.title {
  margin-top: 0;
  margin-bottom: 10;

  color: var(--primari-text-color);

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-uppercase {
  padding-bottom: 94px;
}

.uppercase {
  text-align: center;
  color: var(--primari-text-color);
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.doing {
  display: inline-block;
}

/*Команда сайта*/
.team {
  padding-bottom: 78px;
  background: #f5f4fa;
}

.text {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-color);
  width: 270px;

  font-weight: 400;
  line-height: 1.7;
}

.partners {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  display: inline-block;
}

.main-parts + .main-parts {
  margin-left: 30px;
}

.name {
  color: var(--primari-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.photos {
  text-align: center;
}

.position,
.filter {
  color: var(--secondary-color);
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

.info-name {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*Портфолио*/
.all-portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: main axis;
  text-align: start;
}

.portfolio-bar {
  text-decoration: none;
}

.portfolio-countainer {
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-countainer:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-countainer:nth-child(3n) {
  margin-right: 0;
}

.portfolio {
  color: var(--primari-text-color);
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.position {
  line-height: 1.19;
}

.filter {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;

  line-height: 1.9;
}

.portfolio-countainer .info-name {
  margin-top: 20px;
  margin-left: 24px;
}

/*Подвал*/
footer {
  background: var(--background-hefu-color);
  padding-top: 60px;
}

.contacts-footer {
  color: var(--contacts-footer-color);
  text-decoration: none;
}
.site-contacts-footer {
  flex-direction: column;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--primari-click-color);
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-locfoo + .footer-locfoo {
  margin-top: 9px;
}

.logo-footer {
  color: var(--primari-white-color);
}

.address-footer {
  margin-bottom: 9px;
  margin-top: 20px;
}

.location {
  color: var(--primari-white-color);
  font-style: normal;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-countainer {
  padding-bottom: 60px;
}
/*Кнопки*/

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.hero-button {
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  outline: none;
  display: inline-block;
  min-width: 200px;

  color: var(--primari-white-color);
  background: var(--primari-click-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primari-click-color);
  background: var(--primari-white-color);
}
.buttons .item-button {
  background: var(--batton-bg-color);
  color: var(--primari-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.buttons .item-button:hover,
.buttons .item-button:focus {
  background: var(--primari-click-color);
  color: var(--primari-white-color);
}

.buttons-bar {
  display: flex;
  justify-content: center;
}

.buttons {
  padding-top: 94px;
  padding-bottom: 50px;
}

.item-button + .item-button {
  margin-left: 8px;
}

.item-button {
  background: #f5f4fa;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  outline: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;
}
